<isloop items="${pdict.order.billing.payment.applicablePaymentMethods}" var="paymentOption">
    <isif condition="${paymentOption.ID === 'CREDIT_CARD'}">
        <isinclude template="checkout/billing/paymentOptions/creditCardTab" />
    </isif>
    <isif condition="${pdict.isAlmaEnable && paymentOption && paymentOption.ID === 'ALMA_DEFERRED'}">
        <isinclude template="checkout/billing/paymentOptions/almaTab" />
    </isif>
    <isif condition="${pdict.isAlmaEnable && paymentOption && paymentOption.ID === 'ALMA_PNX'}">
        <isinclude template="checkout/billing/paymentOptions/almaTab" />
    </isif>
    <isif condition="${pdict.isAlmaEnable && paymentOption && paymentOption.ID === 'ALMA_CREDIT'}">
        <isinclude template="checkout/billing/paymentOptions/almaTab" />
    </isif>
    <isif condition="${pdict.isAlmaEnable && paymentOption && paymentOption.ID === 'ALMA_PAY_NOW'}">
        <isinclude template="checkout/billing/paymentOptions/almaTab" />
    </isif>
</isloop>
